<table class='table'>
  <thead>
    <tr>
      <th>Class</th>
      <th>Failed</th>
      <th>Completed</th>
    </tr>
  </thead>

  <tbody>
    <% @job_stats.each_with_index do |(name, info), i| %>
      <tr>
        <td id='job_<%= name %>'><%= name %></td>
        <td id='failed_<%= name %>'><%= info[:failed] || 0 %></td>
        <td id='completed_<%= name %>'><%= info[:completed] || 0 %></td>
      </tr>
    <% end %>

    <tr class='last_row'>
      <th>Total:</td>
      <td id="failed_total"><%= @failed_total %></td>
      <td id="completed_total"><%= @completed_total %></td>
    </tr>
  </tbody>
</table>
