<table class='table'>
  <thead>
    <tr>
      <th>Queue Name</th>
      <th>Job Load</th>
    </tr>
  </thead>

  <% @queues.each_with_index do |queue, i| %>
    <tr>
      <td class='queue_name<%= i %>'><%= queue[0] %></td>
      <td class='queue_count<%= i %>'><%= queue[1] %></td>
    </tr>
  <% end %>

  <tr class='last_row'>
    <th>Total:</td>
    <td><%= @total %></td>
  </tr>
</table>
